{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block javascripts %}
<script type="text/javascript">
function sub() {
    document.getElementById("importeur").submit();
};
</script>
{% endblock %}

{% block body %}
  <h1>Pour commencer, importez votre fichier Scaphandre :</h1>
  <form id="importeur" action="{{ path('do-upload') }}" method="post" enctype="multipart/form-data">

        <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

        <div class="centrer">
            <input id="file_import" type="file" name="myfile" id="myfile" onchange="sub()">
        </div>

  </form>
{% endblock %}
